<div>
  <link href="./nav-bar.css" rel="stylesheet" />
  <div class="nav-bar-container">
    <div class="nav-bar-frame33">
      <div class="nav-bar-frame17">
        <a href="temperature.html" class="nav-bar-frame29button button">
          <span class="nav-bar-text">
            <span><span>°c</span></span>
          </span>
        </a>
        <button class="nav-bar-frame31button button">
          <span class="nav-bar-text2"><span>+</span></span>
        </button>
        <button class="nav-bar-frame30button button">
          <img
            alt="settingsgearicon24417"
            src="public/playground_assets/settingsgearicon24417-q7ll-200h.png"
            class="nav-bar-settingsgearicon2"
          />
        </button>
      </div>
    </div>
  </div>
</div>
